 body { 
  color: white; /* define a cor do texto como branco */
  background: black; /* define o fundo da página como preto */
  margin: 0px; /* tira a margem padrão do corpo da página */
  font-family: "Chakra Petch", sans-serif; /* bota a fonte como Chakra Petch ou uma fonte genérica sans-serif */
  margin-bottom: 400px; /* adiciona uma margem de 100px na parte inferior da página */
}

